*{
    font-family: Arial, Helvetica, sans-serif;

}

body{ 
    background: #ffffff;
}

.section-padding{
    padding: 70px 0;
}
.carousel-
.carousel-item {
    height: 80vh;
    min-height: 300px;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-caption {
    position: absolute;
    bottom: 10px; /* Ajusta la distancia desde el borde inferior */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgb(255, 255, 255); /* Asegúrate de que el texto sea visible */
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    
}
.carousel-caption p{

    background: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Opcional: bordes redondeados */
    
}
.carousel-caption{
    width: 60%;
    font-size: 18px;
    line-height: 1.9;
    
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0 ;
    left:0 ;
    background:rgba(0, 30, 82, 0.327) ;
    z-index: 1;
}

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;

}
.text-primary {
    color: #ffffff !important; /* Cambia el color primario a dorado */
}

.navbar-dark .navbar-brand {
    color: #f811ed;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-dark .nav-link:hover {
    color: #FFD700; /* Dorado al pasar el mouse */
  }

  .about .container {
    max-width: 1100px; /* Ajusta el ancho del contenedor */
    margin: auto;
}

.about .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados opcionales */
}

.about .about-text {
    padding: 20px;
}

@media (max-width: 991px) {
    .about .row {
        flex-direction: column; /* Pila vertical en pantallas pequeñas */
    }

    .about .col-lg-4,
    .about .col-lg-8 {
        text-align: center;
    }

    .about .about-text {
        padding-top: 10px;
    }
}

.parrafos .texto-justificado {
    text-align: justify; /* Justifica el texto */
    color: black;        /* Asegura que el texto sea negro */
    line-height: 1.6;    /* Espaciado entre líneas para mejorar legibilidad */
    margin-bottom: 20px; /* Espacio entre párrafos */
    font-size: 20px;
}
.plantilla .container {
    max-width: 1200px;
    margin: auto;
}

.plantilla h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.plantilla p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.plantilla img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados */
}

@media (max-width: 768px) {
    .plantilla h2 {
        font-size: 2rem;
    }

    .plantilla p {
        font-size: 0.95rem;
    }
}



